
<section class="category">
    <div class="container">
        <div class="row">
            {% for category in categories %}
                <div class="col-12 col-md-4">
                    <div class="category__item">
                        <a href="#">
                            <img class="category__image" src="{{ category.image }}" alt="{{ category.title }}">
                            <h2 class="category__title">{{ category.title | safe}}</h2>
                        </a>
                    </div>
                </div>
            {% endfor %}           
        </div>
    </div>
</section>