<section class="header">
    <div class="container">
        <div class="row">          
            <div class="col-12">
                <h1>
                    Vybíráme z designových kolekcí
                    <em class="header__emphasis">Jaký je váš oblíbený styl?</em>
                </h1>        
            </div>                 
        </div>
    </div>
</section>