$grid-breakpoints: (
  xs: 0,
  sm: 450px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,       
  md: 720px,
  lg: 996px,
  xl: 1002px
);

$grid-gutter-width: 20px;

// boostrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/text";

// files
@import "components/";

body {
    margin: 80px 0 180px 0;
}
